<div id="tabs">
  <ul>
    <li>
      <a href="/" class="tab">uniprocess</a>
    </li>
    <li>
      <a href="effects.html" class="tab">effects</a>
    </li>
    <li>
      <a href="builds.html" class="tab current">builds</a>
    </li>
    <li>
      <a href="template.html" class="tab">template</a>
    </li>
    <li>
      <a href="about.html" class="tab">about</a>
    </li>
  </ul>
</div>
<div class="content" style="display: block; width: 640px; margin: 0px auto;">
  $body$
</div>
