<div id="tabs">
  <ul>
    <li>
      <a href="/" class="tab current">uniprocess</a>
    </li>
    <li>
      <a href="effects.html" class="tab">effects</a>
    </li>
    <li>
      <a href="builds.html" class="tab">builds</a>
    </li>
    <li>
      <a href="template.html" class="tab">template</a>
    </li>
    <li>
      <a href="about.html" class="tab">about</a>
    </li>
  </ul>
</div>
<div class="splash">
  <div style="font-size: 80px; padding: 16px 0px; width: 100%; max-width: 640px; margin: 0px auto;">uni<span style="color: rgb(211, 211, 211);">process</span>
  </div>
  <div style="font-size: 16px; padding: 8px 0px; width: 100%; max-width: 640px; margin: 0px auto;">
    Ramón Soto Mathiesen <br />
    SPISE MISU ApS <br />
    <strong><code>rsm ++ uniprocess >>= spisemisu . com</code></strong>
  </div>
</div>
<div class="home-section">
  <div class="content" style="display: block; width: 640px; margin: 0px auto;">
    $body$
  </div>
</div>
