@font-face {
    font-family: 'ProzaLibreBold';
    src: url('/css/proza-libre/ProzaLibreBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProzaLibreBoldItalic';
    src: url('/css/proza-libre/ProzaLibreBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ProzaLibreExtraBold';
    src: url('/css/proza-libre/ProzaLibreExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProzaLibreExtraBoldItalic';
    src: url('/css/proza-libre/ProzaLibreExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProzaLibreItalic';
    src: url('/css/proza-libre/ProzaLibreItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProzaLibreLight';
    src: url('/css/proza-libre/ProzaLibreLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProzaLibreLightItalic';
    src: url('/css/proza-libre/ProzaLibreLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProzaLibreMedium';
    src: url('/css/proza-libre/ProzaLibreMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProzaLibreMediumItalic';
    src: url('/css/proza-libre/ProzaLibreMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProzaLibreRegular';
    src: url('/css/proza-libre/ProzaLibreRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProzaLibreSemiBold';
    src: url('/css/proza-libre/ProzaLibreSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProzaLibreSemiBoldItalic';
    src: url('/css/proza-libre/ProzaLibreSemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proza Libre';
    src: url('/css/proza-libre/ProzaLibreSemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
